body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poster-preview img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
.poster-preview {
    position: absolute;
    width: 400px;
    height: 550px;
    left: 5%;
    top: 15%;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
}

.form-container {
    margin-left: 2%; 
    margin-right: 2%;
}
h2 {
    text-align: center;
    color: #333;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}
.submit-btn:hover {
    background-color: #218838;
}